* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
}

:root {
  --azul-4: #021d2c;
  --azul-3: #084362;
  --azul-2: #65a3c5;
  --azul-1: #e3f1f7;
  --amarillo: #fafdb8;  
  --blanco: #fff;
  --negro: #000;
}

body {
  background-color: var(--azul-1);
  letter-spacing: 0.03rem;
  color: var(--azul-4);
}

h1, h2 {
  font-size: 2em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.2em;
}

.contenedor-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: var(--azul-3);
  color: var(--azul-1);
}

.contenedor-footer > .contenedor-iconos {
  margin-top: 1.5rem; /* Puedes ajustar el valor según sea necesario */
  padding: 0;
  color: var(--azul-1);
  font-size: 1.2rem;
  margin: auto;
}

.contenedor-footer h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.icono-linkedin, .icono-github {
  color: var(--azul-1);
}

.icono-linkedin:hover {
  transition: 0.3s;
  color: var(--azul-2);
}

.icono-github:hover {
  transition: 0.3s;
  color: var(--azul-2);
}

button:hover {
  background-color: var(--azul-2);
  transition: 0.5s;
}


/* Para pantallas menores a 800px */
@media (max-width: 799px) {

  .App {
    width: 100%;
  }
  
}
